<a href="/admin/alunos/add"><button class="btn btn-success">Novo aluno</button></a>

<ul>
{{#each aluno}}
    <li style="display:inline-block">{{matricula}} -- {{nome}} -- {{turma.titulo}} </li> 
    <a href="/admin/alunos/del/{{_id}}"><button class="btn btn-link" style="display:inline-block">Excluir aluno</button></a><br>
                 
{{else}}
    <p>Nenhum aluno registrado!</p>
{{/each}}
</ul>