<a href="/admin/alunos/add"><button class="btn btn-success">Novo aluno</button></a>

{{#each aluno}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <P>Matrícula: {{matricula}}</P>
            <p>Série: {{serie}}</p>
            <small>Turma: {{turma.titulo}}</small><br>
        </div>    
    </div>
{{else}}
    <p>Nenhum aluno registrado!</p>
{{/each}}