
<h4>Relação de alunos da turma {{tma.titulo}}:</h4>


<div class="card">
    <div class="card-body">
        <form  style="display:inline-block" action="/prof/regchamada" method="post">
{{#each aluno}}
            <label style="display:inline-block" for="matricula"></label>
            <input type="text" style="width:100px;display:inline-block" name="matricula" class="form-control" disabled value="{{matricula}}">
            <label style="display:inline-block" for="nome"></label>
            <input type="text" style="width:200px;display:inline-block" name="nome" class="form-control" disabled value="{{nome}}">
            <input class="form-check-input" id="presente" name="{{matricula}}" type="radio" value="presente" required/>
            <label style="width:90px">Presente</label>
            <input class="form-check-input" id="ausente" name="{{matricula}}" type="radio" value="ausente" required/> 
            <label style="width:90px">Ausente</label>
            <input class="form-check-input" id="atestado" name="{{matricula}}" type="radio" value="atestado" required/> 
            <label style="width:130px">Atestado médico</label><br>
                   
{{else}}
    <p>Nenhum aluno registrado!</p>
{{/each}}
            <button type="submit" class="btn btn-success mt-4">Registrar chamada</button>
        </form> 
    </div>
</div>